In [2]:
print('hello world')

hello world

In [3]:
2+3*5+5

22

In [4]:
(2+3)*(3+5)

40

In [5]:
(2+3)*(5+5)

50

In [6]:
mite=100
print(mite)

100

In [7]:
print('the value of mite is',mite)

the value of mite is 100

In [8]:
mite

100

In [9]:
'Mangalore is nice place'

'Mangalore is nice place'

In [10]:
"mangalore is nice place"

'mangalore is nice place'

In [0]:
name=mite

In [12]:
"i can wrap lot's of code in this stream"

"i can wrap lot's of code in this stream"

In [14]:
num=22
name="mite"
print(num+1,name,"is the best plave to study")

23 mite is the best plave to study

In [21]:
print("my number is {one} and name is (two)".format(one=num,two=name))

my number is 22 and name is (two)

In [23]:
x=input("enter the first number")
y=input("enter the second number")
i=int(x)
j=int(y)
print("the product is",i*j)

enter the first number7
enter the second number23
the product is 161

In [26]:
x=input("enter the first number")
y=input("enter the second number")
i=float(x)
j=float(y)
print("the product is",i*j)

KeyboardInterrupt: ignored

In [27]:
x=input("enter the first number")
y=input("enter the second number")
i=bool(x)
j=bool(y)
print("the product is",i*j)

enter the first number0
enter the second number1
the product is 1

In [29]:
married=bool(input("Are you married? T/F"))

Are you married? T/FFalse

In [30]:
id=input(("Enter employee id"))
name=str(input("Enter employee name"))
basic_sal=float(input("enter basic salary"))
total_sal=1.25*basic_sal
Fre=bool(input("Whether the employee is fresher"))
print("id",id)
print("Name",name)
print("Salary",total_sal)
print("Fresher or not",Fre)

Enter employee id1234
Enter employee nameShalmali
enter basic salary10000
Whether the employee is fresherTrue
id 1234
Name Shalmali
Salary 12500.0
Fresher or not True

In [32]:
a,b=[float(x) for x in input("Enter 2 numbers").split()]
print("Product is:",a*b)

Enter 2 numbers2 4
Product is: 8

In [41]:
a,b,c=[float(x) for x in input("Enter 3 floatnumbers").split(',')]
print("Sum is:",a+b+c)

Enter 3 floatnumbers2,3,4
Sum is: 9.0

In [38]:
x=eval("10+20+30")
print(x)

60

In [39]:
x=eval("(10+20)+30/10*2")
print(x)

36.0

In [42]:
print("hello\nworld")
print("hello\tworld")

hello
world
hello	world

In [45]:
print(10*'hello')

hellohellohellohellohellohellohellohellohellohello

In [46]:
[1,2,3]

[1, 2, 3]

In [47]:
['hey',1,2,4]

['hey', 1, 2, 4]

In [48]:
[[0,1],1,2]

[[0, 1], 1, 2]

In [0]:
my_list=['a','b','c']

In [0]:
my_list.append('d')

In [51]:
my_list

['a', 'b', 'c', 'd']

In [52]:
my_list[0]

'a'

In [53]:
my_list[1:]

['b', 'c', 'd']

In [54]:
my_list[-2]

'c'

In [0]:
my_list='Shalmali'

In [55]:
my_list[:5]

['a', 'b', 'c', 'd']

In [0]:
my_list='Shalmali'

In [0]:
mylist=[1,2,3,[4,5],['shalmali']]

In [58]:
mylist

[1, 2, 3, [4, 5], ['shalmali']]

In [19]:
for j in range(0,4):
    if(i+j>=3):
        print("*",end=" ")
    else:
          print(" ",end=" ")
    print()

*
*
*
*

In [25]:
for i in range(0,4):
    for j in range(0,4):

        if i+j>=3:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print( )

      *
    * *
  * * *
* * * *

In [26]:
s="virat"
d=list(s)

In [27]:
d

['v', 'i', 'r', 'a', 't']

In [31]:
s=input("Enter the name")
for x in range(len(s)):
    for y in range(0,x+1):
        print(s[x],end=" ")
    print()

Enter the nameshalmali
s
h h
a a a
l l l l
m m m m m
a a a a a a
l l l l l l l
i i i i i i i i

In [33]:
rec={}
n=int(input("Enter the number of students"))
i=1
while i<=n:
    name=input("Enter stuent name:")
    marks=input("enter % marks of student")
    rec[name]=marks
    i+=1
print("name of the student","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

Enter the number of students3
Enter stuent name:qwe
enter % marks of student111
Enter stuent name:qwe
enter % marks of student134
Enter stuent name:www
enter % marks of student121
name of the student 	 % of marks
	 qwe 		 134
	 www 		 121

In [34]:
d={100:"hello",2:"mite",300:"shalmali

In [35]:
d

{100: 'hello', 2: 'mite', 300: 'shalmali'}

In [36]:
d[400]="M"

In [37]:
d

{100: 'hello', 2: 'mite', 300: 'shalmali', 400: 'M'}

In [38]:
d[100]="hey"

In [39]:
d

{100: 'hey', 2: 'mite', 300: 'shalmali', 400: 'M'}

In [41]:
del d[2]

In [42]:
d

{100: 'hey', 300: 'shalmali', 400: 'M'}

In [44]:
d.clear() #delete temporarily

In [45]:
d

{}

In [46]:
del d #deleting permanently

In [47]:
d

NameError: name 'd' is not defined

In [49]:
di={100:"hello",2:"mite",300:"shalmali"}

In [50]:
di

{100: 'hello', 2: 'mite', 300: 'shalmali'}

In [53]:
len(di)

3

In [54]:
word=input("enter any word")
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

enter any wordhheeellloooo
h occure 2 times
e occure 3 times
l occure 3 times
o occure 4 times

In [65]:
word=input("enter any word")
d={}

for x in word:
   
    if x =='a'or x =='e' or x =='i' or x =='o' or x =='u':
         d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

enter any wordaeiouu
a occure 1 times
e occure 1 times
i occure 1 times
o occure 1 times
u occure 2 times

In [66]:
word=input("enter any word")#   wwwwwwwwwwwwwrrrrrrrrrrrrooooooonnnnnggggggggggggggg
d={}
vowels={'a','e','i','o','u'}
for x in word:
   
    for x in vowels:
         d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

enter any wordshalmali
i occure 8 times
o occure 8 times
a occure 8 times
e occure 8 times
u occure 8 times

In [67]:
squares={x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [68]:
n=[1,2,3,4,5,5,5,5]
print(n.count(5))

4

In [70]:
print(n.index(2))

1

In [73]:
n=[1,2,3,4,5]
n.insert(1,888)#insert(index,value to be inserted)
print(n)

[1, 888, 2, 3, 4, 5]

In [74]:
n2=[1,2,3,"hello"]
n.extend(n2)

In [75]:
print(n)

[1, 888, 2, 3, 4, 5, 1, 2, 3, 'hello']

In [76]:
n2

[1, 2, 3, 'hello']

In [77]:
n

[1, 888, 2, 3, 4, 5, 1, 2, 3, 'hello']

In [79]:
n.remove(2)

###remove function

In [80]:
n

[1, 888, 3, 4, 5, 1, 3, 'hello']

In [81]:
n.pop()

'hello'

In [82]:
n.reverse()

In [83]:
n

[3, 1, 5, 4, 3, 888, 1]

In [89]:
l1=["shalmali","rishika","gahana","disha"]
l1.sort()

In [90]:
l1.sort(reverse=True)#sorting in for reverse order

In [91]:
l1

['shalmali', 'rishika', 'gahana', 'disha']

In [88]:
l1

['shalmali', 'rishika', 'gahana', 'disha', 100, 60, 20, 81]

In [85]:
l1

['disha', 'gahana', 'rishika', 'shalmali']

In [95]:

x=[10,20,30,40]
y=x[:]
y[1]=777
print(x)
print(y)

[10, 777, 30, 40]
[10, 777, 30, 40]

In [96]:
###copy by reference
x=[10,20,30,40]
y=x
y[1]=777
print(x)
print(y)

[10, 777, 30, 40]
[10, 777, 30, 40]

In [97]:
###copy by value
x=[10,20,30,40]
y=x.copy()
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [100]:
a=[10,20,30,40]
b=[50,60,70]
c=a+b
print(c)

[10, 20, 30, 40, 50, 60, 70]

In [101]:
x=[10,20,30,40]
y=x*3   #.....* is a repeatation operator
print(y)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [102]:
x=["mite","nitte"]
y=["mite","nitte"]
x==y

True

In [103]:
x!=y

False

In [105]:
z=["mite","nte"]
x==z

False

In [109]:
m=[10,20,30,40,[50,60,70]]
m[2]

30

In [110]:
m[4][1]

60

In [111]:
m.clear()

In [112]:
m

[]

In [113]:
n=[1,2,3,4]
print(4 in n)

True

In [114]:
s=[2**x for x in range(1,6)]
print(s)

[2, 4, 8, 16, 32]

In [115]:
words=["mite","mysore","shalmali"] #To print the starting character of items in the list
l=[w[0] for w in words]
print(l)

['m', 'm', 's']

In [119]:
def pri_num(num):
    if i in range(2,num):
        if num%i==0:
            print("is prime")
        else:
            print("is not prime")
num=input("enter the number")
print(pri_num(num))

enter the number3

TypeError: 'str' object cannot be interpreted as an integer

In [125]:
flag=0
for i in range(2,n):
    if n%i==0:
        flag=1
        if flag==1:
            return 'Not a Prime'
        else:
            return 'Prime'
print(pr)

SyntaxError: 'return' outside function (<ipython-input-125-57fa76a69cd7>, line 6)

In [120]:
def times2(var):
    return var*2
seq=[1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [128]:
seq=[1,2,3,4,5]

lambda var: var*2
    
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [130]:
seq=[1,2,3,4,5]

lambda var: var*2
    
list(map(lambda var:var*2,seq))

list(filter(lambda item:item%2==0,seq))

[2, 4]

In [133]:
import numpy as np
my_list=[1,2,3]
my_list

[1, 2, 3]

In [135]:
np.array(my_list)

array([1, 2, 3])

In [136]:
my_matrix=[[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [137]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [138]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [140]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [141]:
np.zeros(3)

array([0., 0., 0.])

In [142]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [148]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [151]:
np.linspace(0,10,3)

array([ 0.,  5., 10.])

In [152]:
np.eye(4) #identity matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [153]:
np.random.rand(2)

array([0.92679564, 0.81263293])

In [155]:
np.random.rand(5,5)

array([[0.65453381, 0.92994841, 0.92971987, 0.41862749, 0.69919208],
       [0.6449283 , 0.75190156, 0.32958457, 0.29507137, 0.71256354],
       [0.6944489 , 0.51881264, 0.42080174, 0.19950612, 0.91925263],
       [0.07303312, 0.54315793, 0.08012431, 0.4716406 , 0.9852884 ],
       [0.76443592, 0.26192795, 0.53397725, 0.15265041, 0.05979434]])

In [157]:
np.random.randn(5,5)#follows negative distibution

array([[-0.06250564,  1.53570736,  1.12515175, -0.02808765, -1.55500088],
       [ 0.78561105, -0.09792131, -0.23901449, -0.3653791 ,  0.26445969],
       [-0.90602046, -0.58734027,  0.61368699, -0.79492375, -0.62018042],
       [ 1.00644602, -1.55885124,  2.34968216,  1.81245548, -0.26191928],
       [-1.49271215, -0.45565864, -1.16062123, -0.94584324,  1.78869543]])

In [158]:
np.random.randint(1,100,10)#ten random numbers between 1 to 100

array([39, 67, 85, 65, 87, 60, 70,  9, 21, 93])

In [159]:
ar=np.random.randint(1,100,10)#storing the values in a variable 'ar'
ar

array([55, 35, 63, 80, 90, 42, 85, 90, 18, 61])

In [160]:
arr=np.arange(25)  #to arrange these random number into an array
arunarr=np.random.randint(0,50,10)
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [161]:
arunarr.max()

49

In [162]:
arunarr.argmax()

6

In [166]:
arunarr.min()

4

In [164]:
arunarr.argmin()

9

In [167]:
arr.shape

(25,)

In [168]:
arr.reshape(1,25)#1 row 2 column

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [169]:
arr.reshape(1,25).shape

(1, 25)

In [170]:
arr.reshape(25,1)#25 rows 1 column

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [171]:
arr.reshape(25,1).shape

(25, 1)

In [172]:
arr.dtype

dtype('int32')

In [173]:
arr=np.arange(0,10) #addition od array 
arr+arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [174]:
arr*arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [175]:
arr/arr

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [176]:
arr-arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [178]:
arr=np.arange(0,10)

In [179]:
1/arr

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [180]:
arr**3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [181]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [183]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [184]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [185]:
np.log(arr)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [186]:
arr=np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [188]:
arr[8]

8

In [189]:
arr[1:5]

array([1, 2, 3, 4])

In [190]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [193]:
arr[0:5]=100 #values will be 100 from 0 to 5-1=4
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [194]:
arr=np.arange(0,11)
arr>4

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [195]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

In [196]:
np.zeros(12)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [197]:
np.ones(15)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [199]:
np.ones(15)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [200]:
arr=np.ones(15)*5

In [201]:
arr

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [208]:
arr=np.arange(10,81,2)

In [209]:
arr

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76,
       78, 80])

In [212]:
np.random.rand(25)

array([0.45233199, 0.84859273, 0.97673667, 0.4569651 , 0.92746372,
       0.10921667, 0.08485234, 0.45355479, 0.19153814, 0.37876223,
       0.23338036, 0.9196771 , 0.17643987, 0.21129997, 0.07142635,
       0.31054939, 0.40346255, 0.28043634, 0.14835285, 0.34397897,
       0.1071043 , 0.78241964, 0.52904573, 0.86384695, 0.33362223])

In [215]:
arr=np.arange(8)  #to arrange these random number into an array
arunarr=np.random.randint(0,8)
arr.reshape(3,3)

ValueError: cannot reshape array of size 8 into shape (3,3)

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']

In [4]:
my_array=[10,20,30]
pd.Series(data=my_array)

0    10
1    20
2    30
dtype: int64

In [5]:
my_array=[10,20,30]
pd.Series(data=my_array,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
my_array=[10,20,30]
pd.Series(my_array,labels)

a    10
b    20
c    30
dtype: int64

In [19]:
d={'a':10,'b':20,'c':30}
s1=pd.Series(d)

In [9]:
d={'a':10,'b':20,'c':30}
pd.Series([sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [24]:
d1={'usa':1,'russia':2,'Ukraine':3,'England':4}
s3=pd.Series(d1)

In [11]:
d['usa']

1

In [12]:
d2={'usa':5,'russia':6,'japan':7,'England':8}

In [18]:
s2=pd.Series(d2)

In [25]:
s3+s2

England    12.0
Ukraine     NaN
japan       NaN
russia      8.0
usa         6.0
dtype: float64

In [ ]:
#NaN=not a number

In [26]:
s3-s2

England   -4.0
Ukraine    NaN
japan      NaN
russia    -4.0
usa       -4.0
dtype: float64

In [27]:
from numpy.random import randn
np.random.seed(101)#seed is used toget same random numebr

In [28]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())#.....dataframe

In [29]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [30]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [31]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [32]:
df.W #....SQL WAY OF APPRAOACHING

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [33]:
pandas.core.series.Series

NameError: name 'pandas' is not defined

In [35]:
df['new']=df['W']+df['Y']

In [36]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [37]:
df.drop('new',axis=1)#x axis=0,y axis=1,this will not delete it permanently,only for the out put it will get deleted

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [39]:
df.drop('new',axis=1,inplace=True)#inplace will delete it permanently

In [40]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [42]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
ddf.drop('E',axis=1,inplace=True)

KeyError: "['E'] not found in axis"

In [44]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [45]:
df.loc['A']
#selecting rows

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [46]:
df.iloc[2]#using index

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [47]:
df.loc['B','Y']

-0.8480769834036315

In [48]:
df.loc[['A','B'],['W','Y']]#grids

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [49]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [50]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [57]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [58]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [60]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [62]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [64]:
# RESET THE INDEX 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [65]:
newind='CA NY WY OR CO'.split()#new column

In [67]:
df['states']=newind#index is states

In [68]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [70]:
df.set_index('states')

               W         X         Y         Z
states
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [72]:
df.set_index('states',inplace=True)

In [73]:
df

               W         X         Y         Z
states
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [75]:
#Multi-indexing
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))#....zip is a function used to combine two indices
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [76]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [77]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [78]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [79]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [80]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [ ]:
#frozen list=index created once cannot be changed by anyone else,but can change by only the person created it

In [81]:
df.index.names=['Group','Num']

In [82]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [83]:
df.xs('G1')#XS=CROSSECTION

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [86]:
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [87]:
df.xs(1,level='Num')

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

In [103]:
for x in range(0,4):
    for y in range(0,8):
        if x+y==3 or x+y==5 or x+y==5 or x+y==7 or x+y==9:
            print('*',end=" ")
        else:
            print(" ",end=" ")
    print()

      *   *   *
    *   *   *
  *   *   *   *
*   *   *   *

In [107]:
n=int(input("enter the number of rows required"))
for i in range(1,n+1):
    print(" "*(n-i),"*"*(2*i-1))

enter the number of rows required4
    *
   ***
  *****
 *******

In [110]:
df=pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})

In [111]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [112]:
df.dropna()
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [113]:
df.dropna()#remove nan values

     A    B  C
0  1.0  5.0  1

In [114]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [115]:
df.dropna(thresh=2)#till n=2

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [116]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [117]:
df['A'].fillna(value=df['A'].mean())#filling the fill value with mean

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [ ]:
#loading csv file

In [119]:
df=pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [120]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

C:\Users\user\Anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [122]:
df=pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [123]:
df

[                                             Bank Name                City  \
 0                                 The Enloe State Bank              Cooper
 1                  Washington Federal Bank for Savings             Chicago
 2      The Farmers and Merchants State Bank of Argonia             Argonia
 3                                  Fayette County Bank          Saint Elmo
 4    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 5                                       First NBC Bank         New Orleans
 6                                        Proficio Bank  Cottonwood Heights
 7                        Seaway Bank and Trust Company             Chicago
 8                               Harvest Community Bank          Pennsville
 9                                          Allied Bank            Mulberry
 10                        The Woodbury Banking Company            Woodbury
 11                              First CornerStone Bank     King of Prussia
 12                                  Trust Company Bank             Memphis
 13                          North Milwaukee State Bank           Milwaukee
 14                              Hometown National Bank            Longview
 15                                 The Bank of Georgia      Peachtree City
 16                                        Premier Bank              Denver
 17                                      Edgebrook Bank             Chicago
 18                              Doral Bank  En Espaol            San Juan
 19                   Capitol City Bank & Trust Company             Atlanta
 20                             Highland Community Bank             Chicago
 21                    First National Bank of Crestview           Crestview
 22                                  Northern Star Bank             Mankato
 23              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 24               The National Republic Bank of Chicago             Chicago
 25                                      NBRS Financial          Rising Sun
 26                               GreenChoice Bank, fsb             Chicago
 27                            Eastside Commercial Bank             Conyers
 28                              The Freedom State Bank             Freedom
 29                                         Valley Bank     Fort Lauderdale
 ..                                                 ...                 ...
 526                                  ANB Financial, NA         Bentonville
 527                                          Hume Bank                Hume
 528                             Douglass National Bank         Kansas City
 529                                  Miami Valley Bank            Lakeview
 530                                            NetBank          Alpharetta
 531                          Metropolitan Savings Bank          Pittsburgh
 532                                    Bank of Ephraim             Ephraim
 533                                      Reliance Bank        White Plains
 534              Guaranty National Bank of Tallahassee         Tallahassee
 535                                Dollar Savings Bank              Newark
 536                               Pulaski Savings Bank        Philadelphia
 537              First National Bank of Blanchardville      Blanchardville
 538                              Southern Pacific Bank            Torrance
 539                        Farmers Bank of Cheneyville         Cheneyville
 540                                      Bank of Alamo               Alamo
 541             AmTrade International Bank  En Espaol             Atlanta
 542                     Universal Federal Savings Bank             Chicago
 543                       Connecticut Bank of Commerce            Stamford
 544                                   New Century Bank     Shelby Township
 545                              Net 1st National Bank          Boca Raton
 546                                       NextBank, NA             Phoenix
 547                           Oakwood Deposit Bank Co.             Oakwood
 548                              Bank of Sierra Blanca       Sierra Blanca
 549                      Hamilton Bank, NA  En Espaol               Miami
 550                             Sinclair National Bank            Gravette
 551                                 Superior Bank, FSB            Hinsdale
 552                                Malta National Bank               Malta
 553                    First Alliance Bank & Trust Co.          Manchester
 554                  National State Bank of Metropolis          Metropolis
 555                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date  \
 0    TX  10716                   Legend Bank, N. A.        May 31, 2019
 1    IL  30570                   Royal Savings Bank   December 15, 2017
 2    KS  17719                          Conway Bank    October 13, 2017
 3    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 4    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 5    LA  58302                         Whitney Bank      April 28, 2017
 6    UT  35495                    Cache Valley Bank       March 3, 2017
 7    IL  19328                  State Bank of Texas    January 27, 2017
 8    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 9    AR     91                         Today's Bank  September 23, 2016
 10   GA  11297                          United Bank     August 19, 2016
 11   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 12   TN   9956           The Bank of Fayette County      April 29, 2016
 13   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 14   WA  35156                       Twin City Bank     October 2, 2015
 15   GA  35259                        Fidelity Bank     October 2, 2015
 16   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 17   IL  57772             Republic Bank of Chicago         May 8, 2015
 18   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 19   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 20   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 21   FL  17557                       First NBC Bank    January 16, 2015
 22   MN  34983                            BankVista   December 19, 2014
 23   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 24   IL    916                  State Bank of Texas    October 24, 2014
 25   MD   4862                          Howard Bank    October 17, 2014
 26   IL  28462                 Providence Bank, LLC       July 25, 2014
 27   GA  58125            Community & Southern Bank       July 18, 2014
 28   OK  12483      Alva State Bank & Trust Company       June 27, 2014
 29   FL  21793  Landmark Bank, National Association       June 20, 2014
 ..   ..    ...                                  ...                 ...
 526  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 527  MO   1971                        Security Bank       March 7, 2008
 528  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 529  OH  16848         The Citizens Banking Company     October 4, 2007
 530  GA  32575                           ING DIRECT  September 28, 2007
 531  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 532  UT   1249                        Far West Bank       June 25, 2004
 533  NY  26778                     Union State Bank      March 19, 2004
 534  FL  26838              Hancock Bank of Florida      March 12, 2004
 535  NJ  31330                          No Acquirer   February 14, 2004
 536  PA  27203                       Earthstar Bank   November 14, 2003
 537  WI  11639                        The Park Bank         May 9, 2003
 538  CA  27094                            Beal Bank    February 7, 2003
 539  LA  16445            Sabine State Bank & Trust   December 17, 2002
 540  TN   9961                          No Acquirer    November 8, 2002
 541  GA  33784                          No Acquirer  September 30, 2002
 542  IL  29355               Chicago Community Bank       June 27, 2002
 543  CT  19183                   Hudson United Bank       June 26, 2002
 544  MI  34979                          No Acquirer      March 28, 2002
 545  FL  26652                       Bank Leumi USA       March 1, 2002
 546  AZ  22314                          No Acquirer    February 7, 2002
 547  OH   8966       The State Bank & Trust Company    February 1, 2002
 548  TX  22002     The Security State Bank of Pecos    January 18, 2002
 549  FL  24382     Israel Discount Bank of New York    January 11, 2002
 550  AR  34248                   Delta Trust & Bank   September 7, 2001
 551  IL  32646                Superior Federal, FSB       July 27, 2001
 552  OH   6629                    North Valley Bank         May 3, 2001
 553  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 554  IL   3815              Banterra Bank of Marion   December 14, 2000
 555  HI  21029                   Bank of the Orient    October 13, 2000

            Updated Date
 0         June 18, 2019
 1      February 1, 2019
 2     February 21, 2018
 3      January 29, 2019
 4        March 22, 2018
 5      January 29, 2019
 6      January 29, 2019
 7      January 29, 2019
 8          May 18, 2017
 9          May 13, 2019
 10    December 13, 2018
 11    November 13, 2018
 12   September 14, 2018
 13     January 29, 2019
 14    February 19, 2018
 15         July 9, 2018
 16    February 20, 2018
 17     January 29, 2019
 18     January 29, 2019
 19     January 29, 2019
 20    November 15, 2017
 21    November 15, 2017
 22      January 3, 2018
 23    November 10, 2016
 24      January 6, 2016
 25     January 29, 2019
 26    December 12, 2016
 27      October 6, 2017
 28    February 21, 2018
 29     January 29, 2019
 ..                  ...
 526    February 1, 2019
 527    January 31, 2019
 528    October 26, 2012
 529  September 12, 2016
 530    January 31, 2019
 531    October 27, 2010
 532       April 9, 2008
 533       April 9, 2008
 534      April 17, 2018
 535       April 9, 2008
 536     October 6, 2017
 537        June 5, 2012
 538    October 20, 2008
 539    October 20, 2004
 540      March 18, 2005
 541  September 11, 2006
 542     October 6, 2017
 543   February 14, 2012
 544      March 18, 2005
 545       April 9, 2008
 546    February 5, 2015
 547    October 25, 2012
 548    November 6, 2003
 549  September 21, 2015
 550     October 6, 2017
 551     August 19, 2014
 552   November 18, 2002
 553   February 18, 2003
 554      March 17, 2005
 555      March 17, 2005

 [556 rows x 7 columns]]

In [124]:
import pandas as pd
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [125]:
df['col2'].unique()#unique values

array([444, 555, 666], dtype=int64)

In [126]:
df['col2'].nunique()#number of unique values

3

In [127]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [128]:
newdf=df[(df['col1']>2)&(df['col2']==444)]

In [129]:
newdf

   col1  col2 col3
3     4   444  xyz

In [130]:
def times2(x):
    return x*2

In [131]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [134]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [136]:
df['col1'].len()

AttributeError: 'Series' object has no attribute 'len'

In [137]:
df['col1'].sum()

10

In [138]:
del df['col1']

In [139]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [141]:
df['col2'].apply(len)

TypeError: object of type 'int' has no len()

In [142]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [143]:
df.sort_values(by='col2')

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

In [145]:
df.isnull()#to check if any value is null,idf so then displays to or else displays false

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [147]:
df=pd.read_csv('Ecommerce Purchases')
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,06/22,285,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,02/20,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,03/22,740,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,03/25,506,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,07/18,11,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,05/19,901,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,6.25
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,12/16,310,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,11/24,16,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,01/21,586,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,04/22,748,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,18.10
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,04/26,627,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,01/19,225,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,3.77
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,08/21,291,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,11/21,589,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,14.49
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,12/24,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,04/23,206,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,03/21,572,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,08/21,847,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,08/18,460,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,22.02
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [149]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
'Sales':[200,120,340,124,243,350]}

In [150]:
df=pd.DataFrame(data)

In [151]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [155]:
df.groupby('Company')

In [157]:
by_comp=df.groupby('Company')

In [158]:
by_comp

In [159]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [160]:
df.groupby('Company').mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [161]:
df.groupby('Company').std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [162]:
df.groupby('Company').min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [163]:
df.groupby('Company').max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [164]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [165]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [168]:
by_comp.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

In [169]:
df=pd.read_csv('Ecommerce Purchases')
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,06/22,285,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,02/20,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,03/22,740,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,03/25,506,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,07/18,11,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,05/19,901,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,6.25
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,12/16,310,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,11/24,16,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,01/21,586,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,04/22,748,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,18.10
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,04/26,627,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,01/19,225,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,3.77
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,08/21,291,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,11/21,589,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,14.49
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,12/24,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,04/23,206,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,03/21,572,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,08/21,847,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,08/18,460,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,22.02
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [170]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [173]:
df.mean()

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

In [175]:
df.max()

Address                              Unit 9991 Box 3616\nDPO AA 99399
Lot                                                             99 zl
AM or PM                                                           PM
Browser Info        Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2...
Company                                                 Zuniga-Watson
Credit Card                                          6011999761615928
CC Exp Date                                                     12/25
CC Security Code                                                 9993
CC Provider                                                   Voyager
Email                                                zyoung@yahoo.com
Job                                                      Youth worker
IP Address                                               99.96.230.38
Language                                                           zh
Purchase Price                                                  99.99
dtype: object

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [177]:
df['Purchase Price'].mean()

50.34730200000025

In [178]:
df['Purchase Price'].max()

99.99

In [179]:
df['Purchase Price'].min()

0.0

In [180]:
df.sort_values(by='Purchase Price')

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
5487,"465 Mallory Ways\nNorth Rebecca, RI 82734-1160",93 OH,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Flynn and Sons,30469912089738,09/23,236,Discover,mjohnson@austin.org,Stage manager,43.99.56.59,zh,0.00
2876,"332 Jones Parkways\nEast Katherineville, GA 64230",39 GT,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9...,"Lyons, Diaz and Clark",4204500444841766,01/18,38,VISA 16 digit,jennifer11@baker.com,Biomedical scientist,223.47.177.174,it,0.00
6863,"9202 Baker Forks\nNew Chelseaborough, VA 70852",40 Vx,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Sanchez-Stephenson,4759624285678506,08/18,600,VISA 16 digit,leesabrina@rojas.com,Television camera operator,143.139.184.18,es,0.01
8656,"146 Laura Mission\nNorth Donald, NC 76608",95 xb,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,Armstrong PLC,341024981858937,06/19,217,Discover,rramsey@oliver.com,Product/process development scientist,66.97.84.200,ru,0.02
2783,"402 Joseph Tunnel Apt. 219\nMartinmouth, DE 58480",46 Yg,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Wagner Group,4720459683484280,08/21,866,Mastercard,emilypotter@yahoo.com,IT trainer,69.92.84.253,de,0.02
550,Unit 9279 Box 5039\nDPO AP 86638,40 Ai,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_1;...,Roberts LLC,180054117657378,01/25,304,Voyager,heatherpham@hotmail.com,"Research officer, government",118.191.31.116,de,0.03
6647,"86103 Ricky Manor\nNunezton, VI 03206-5280",69 MM,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_0...,Washington-Johnson,676398186905,07/25,448,Voyager,kimberlyolsen@hotmail.com,"Civil engineer, contracting",207.65.121.44,el,0.03
4280,"827 Kathryn Rest Suite 059\nGouldside, PA 4949...",04 ER,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_2 like M...,Murphy-Gardner,372870195456666,04/26,940,Diners Club / Carte Blanche,qcross@james.org,"Surveyor, mining",229.94.185.56,ru,0.04
8937,"964 Warren Village Apt. 836\nPort Amystad, NE ...",26 ex,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_5_9; r...,Martinez-Scott,6011957996024142,03/17,908,Diners Club / Carte Blanche,anthony79@hotmail.com,Radio broadcast assistant,219.79.77.138,en,0.06
2657,"9682 Abigail Bridge\nEast Michaelland, DC 8825...",68 yk,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_5...,Mills-Harper,676142409512,04/19,431,American Express,zbullock@gmail.com,Optometrist,108.64.58.202,es,0.07
8731,"5687 Bradley Plaza Suite 396\nPort Melissa, DE...",35 eY,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_5_9; r...,"Hines, Sanchez and Cox",4286135653035122,06/21,55,VISA 16 digit,sarahdavis@yahoo.com,Multimedia specialist,12.108.36.155,it,0.08
1530,"402 Melissa Manors\nSouth Wendyville, OR 89088...",13 PQ,AM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 95;...,Rice-Davis,210034128621740,10/24,734,Diners Club / Carte Blanche,huffmaria@guzman-russo.org,"Surveyor, insurance",56.14.92.14,es,0.10
1691,"52455 Rivas Divide\nNew Anthonyton, WA 35736-9050",55 NL,AM,Mozilla/5.0 (Windows NT 6.2) AppleWebKit/5342 ...,Shea Ltd,30511702224486,12/16,602,Mastercard,jenniferwilson@hanson.com,Magazine features editor,57.93.253.202,ru,0.12
2438,"94674 Obrien Circle Suite 912\nSouth Shane, ID...",10 Mz,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Dunn, Benson and Smith",210063371810817,10/17,202,VISA 13 digit,beltrantommy@hotmail.com,Insurance risk surveyor,172.255.174.178,es,0.14
9642,"08054 Michael Common\nJonestown, KY 26310",66 fU,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6...,Wright Group,180018518954775,04/25,467,Maestro,xhernandez@bartlett.info,"Therapist, music",210.216.166.59,en,0.16
3882,6645 Samantha Mountains Suite 996\nEast Travis...,67 jI,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Martinez-Franco,4164553207440,01/26,896,Maestro,laguilar@wang.com,Arts development officer,135.130.40.254,ru,0.16
5156,"258 Clark Hills Suite 703\nLake Carolynstad, N...",79 Wa,PM,Mozilla/5.0 (Windows NT 4.0) AppleWebKit/5321 ...,"Ashley, Tucker and Banks",3337900010561792,02/18,671,Voyager,colemantaylor@douglas-cooper.com,Sub,16.156.163.192,ru,0.18
366,"802 Andrews Glens\nPatrickmouth, WA 78749",21 NN,AM,Opera/8.37.(Windows NT 6.2; it-IT) Presto/2.9....,Wilkinson Group,869972089174395,12/19,750,JCB 16 digit,jmyers@rodriguez.com,"Secretary, company",182.241.102.244,it,0.19
1650,"58371 Carolyn Path\nShannonstad, IN 06467-6721",74 hM,AM,Mozilla/5.0 (Windows 98; en-US; rv:1.9.2.20) G...,"West, Mclaughlin and Gomez",5396298473486539,12/25,270,Voyager,jdavis@yahoo.com,Broadcast journalist,36.242.57.190,it,0.20
1154,"58903 Tammy Knolls Suite 270\nBryantbury, VA 4...",34 PH,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_6 ...,Williams-Torres,30250854692733,05/26,976,JCB 16 digit,kylefrost@hancock.org,Systems developer,69.174.252.220,de,0.20
9694,"076 Villanueva Trail\nLake Jacob, MN 50996-3395",35 Ri,AM,Mozilla/5.0 (Windows 98; Win 9x 4.90; sl-SI; r...,Fields Inc,4761160174032527,08/23,617,American Express,ycox@hotmail.com,Insurance claims handler,68.86.30.42,es,0.20
3312,7419 Miles Roads Apt. 710\nNorth Christopherfu...,19 No,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5341...,Freeman Ltd,6011428050097689,12/20,624,JCB 15 digit,robert46@aguilar.biz,"Embryologist, clinical",188.174.245.231,it,0.20
2418,"82697 Susan Ville Suite 999\nSouth John, MA 63235",77 vq,AM,Mozilla/5.0 (Windows NT 6.1; it-IT; rv:1.9.0.2...,"Miller, Combs and Anderson",5495935818182733,06/21,301,Discover,twest@day-gallegos.com,Charity fundraiser,201.44.57.74,zh,0.21
6620,"4946 Kelley Lodge Suite 926\nEast Christina, N...",95 Bq,AM,Mozilla/5.0 (Windows NT 5.0; it-IT; rv:1.9.2.2...,"Castaneda, Sampson and Evans",869928491261808,11/22,699,Voyager,jaclynwalsh@gmail.com,Holiday representative,17.169.139.0,el,0.22
559,"4408 Cassidy Overpass\nSouth Beth, AK 68295-4309",55 QO,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Sanchez-Smith,3528079589307405,08/18,469,Discover,williamsrobert@smith-reid.com,Hospital pharmacist,239.190.111.170,es,0.22
1021,"8100 Johnson Rue\nNorth Jamiechester, KS 76665...",93 dI,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,"Wright, Collins and Frazier",3096373848442471,10/16,390,JCB 16 digit,ochoatimothy@reid.net,Printmaker,215.22.201.78,it,0.24
9704,"603 Tran Alley\nDuffyview, MD 99742-9731",05 hI,PM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,"Harmon, Grant and Camacho",869960503211638,02/18,346,Mastercard,david46@jackson-smith.com,"Engineer, materials",181.144.226.70,es,0.25
6083,Unit 5879 Box 8138\nDPO AP 55602,04 cj,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,"Cole, Thomas and Murphy",869948878716935,09/23,109,Diners Club / Carte Blanche,keithhurst@andrews.com,Chartered certified accountant,202.45.246.248,fr,0.26
1221,"780 Taylor Fork\nScottfurt, FM 03330-3230",19 EW,AM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,Rosales-Turner,4744668702200343,08/25,37,Mastercard,evanslisa@yahoo.com,Occupational psychologist,0.25.220.57,pt,0.27
3227,"1931 Andrew Springs\nJamesstad, GU 44502-4798",70 Wo,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_6...,Lawson and Sons,30464768920292,09/24,276,Mastercard,vegabenjamin@carpenter-carney.com,Applications developer,56.231.48.81,ru,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6388,"16836 Stacy Islands Apt. 493\nMaldonadoville, ...",84 KF,AM,Opera/9.30.(X11; Linux i686; en-US) Presto/2.9...,Stevens-Hayes,180082768102014,09/23,63,VISA 16 digit,jkelley@williams-levy.com,"Horticulturist, amenity",243.88.215.27,fr,99.71
2499,"9996 Harvey Centers Apt. 306\nNew Stevenstad, ...",13 Nm,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Logan Group,4305922043102093,01/25,992,VISA 16 digit,erinmonroe@yahoo.com,Recruitment consultant,62.5.122.163,fr,99.71
5967,"95569 Mary Park\nJohnstad, MA 78668-8553",42 Ja,AM,Opera/8.56.(Windows CE; sl-SI) Presto/2.9.170 ...,Soto Group,4228612741861,01/26,405,VISA 16 digit,stephaniecoleman@hotmail.com,Games developer,45.201.189.140,fr,99.71
7214,"72162 Brooks Divide Suite 172\nTerrellberg, MS...",90 Ag,AM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,"Nichols, Parrish and Jackson",6011856881487366,08/17,651,Voyager,brownsarah@gmail.com,Medical secretary,173.61.82.94,ru,99.71
177,"054 Hatfield Prairie Apt. 730\nClarkmouth, DE ...",33 IK,PM,Mozilla/5.0 (Windows NT 4.0; sl-SI; rv:1.9.0.2...,Braun-Floyd,6011784656657197,03/25,836,Mastercard,zwilson@yahoo.com,Chiropodist,167.84.198.199,el,99.72
846,"873 Emma Divide Apt. 427\nPort Barbara, WA 805...",82 Ve,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,Brooks LLC,379526840357419,01/22,554,JCB 16 digit,rachel72@gmail.com,Veterinary surgeon,38.238.35.233,de,99.73
4731,"72436 Jennifer Park Apt. 541\nGreenberg, NC 87744",11 tT,AM,Opera/9.70.(X11; Linux i686; en-US) Presto/2.9...,"Spence, Peters and Chang",4629134681415485,09/25,338,VISA 16 digit,joshua66@garcia.com,"Scientist, research (physical sciences)",65.66.139.14,it,99.74
9934,"52276 Smith Cliffs\nLake Vanessaview, AL 91791",40 nG,AM,Opera/9.62.(Windows NT 5.0; sl-SI) Presto/2.9....,Clay LLC,5148775191773208,05/23,583,VISA 16 digit,popejames@yahoo.com,Consulting civil engineer,130.63.250.128,el,99.75
1587,"835 Williams Crossroad\nNew Greg, NM 87568-9924",39 AM,AM,Opera/9.48.(Windows NT 6.1; it-IT) Presto/2.9....,Gray-Colon,6011769907184158,12/21,364,VISA 13 digit,patriciathomas@fuller.biz,Community arts worker,169.14.237.169,ru,99.75
8023,Unit 6888 Box 8570\nDPO AP 38570,83 ir,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows 98;...,Wheeler Inc,30071823274241,11/20,4853,Mastercard,rickycruz@gmail.com,Food technologist,72.162.16.158,el,99.76
842,"970 Natalie Lock Suite 087\nNew Amandatown, VI...",72 sp,PM,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5312 ...,Larsen Ltd,3096561622514107,04/21,154,Maestro,jordan05@yahoo.com,Ecologist,148.151.106.23,es,99.77
179,"99895 Walls Drive\nPort Tristan, HI 96766",72 Io,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5310...,"Kane, Rhodes and Sloan",869975032354493,10/21,872,JCB 15 digit,ffisher@scott.com,Psychiatric nurse,250.182.127.161,fr,99.79
7381,"40804 Belinda Roads Apt. 186\nWest Nicoleberg,...",30 GH,AM,Opera/9.32.(Windows NT 4.0; it-IT) Presto/2.9....,Blair-Keith,180089858618619,05/19,2107,American Express,woodsmatthew@walton.org,Fashion designer,223.87.136.82,es,99.81
2264,"040 Ingram Way Suite 602\nEast Matthew, AR 67341",52 WA,AM,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5341 ...,"Baker, Simmons and Pitts",3096946456575623,11/22,56,American Express,holtamanda@gmail.com,Archaeologist,185.14.106.115,es,99.85
9958,"PSC 8781, Box 4214\nAPO AP 94478",72 Ez,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_0 like M...,"Logan, Anderson and Martin",210030902457830,08/24,597,Maestro,reynoldsrick@yahoo.com,Industrial/product designer,26.86.9.173,en,99.86
7533,"327 Smith Forks Suite 391\nNew Janetmouth, SC ...",87 QO,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Bauer PLC,4164798199590327,01/22,48,Discover,taylorcarl@yahoo.com,Occupational hygienist,87.177.159.11,el,99.86
2417,"01233 Barnes Landing Apt. 406\nEast Jennifer, ...",65 bo,PM,Opera/9.38.(X11; Linux i686; it-IT) Presto/2.9...,Stevens-Martin,6011325567089169,12/25,505,Discover,caitlinsmith@hawkins.com,"Scientist, product/process development",111.21.41.165,es,99.88
2773,"455 Hall Lights Apt. 025\nMejiamouth, PR 97762",16 qh,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_3...,Adams Group,346245695363279,07/17,355,VISA 16 digit,brownandrew@howell.net,"Merchandiser, retail",73.248.49.178,pt,99.89
7482,"71176 Swanson Isle Suite 021\nMeganmouth, NH 6...",64 Sk,AM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Sweeney-Stephens,4880489191966,12/22,760,VISA 16 digit,raymondschneider@yahoo.com,"Accountant, chartered management",201.213.128.100,es,99.90
3079,"7728 Kirby Flats Suite 330\nTracymouth, OK 06688",52 sy,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,Walker Group,869911376939318,06/20,897,JCB 16 digit,zbailey@gmail.com,Environmental manager,161.162.101.178,de,99.90
6441,"3307 Franklin Garden\nPort Scottland, UT 79128",68 ie,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_1...,Huang PLC,30405146259119,02/24,3276,Diners Club / Carte Blanche,mcdonaldholly@andrews-simpson.biz,"Engineer, agricultural",172.236.109.85,el,99.90
4148,"5382 Nicole Via Apt. 447\nMartinshire, AS 9397...",74 OR,PM,Opera/8.39.(X11; Linux i686; en-US) Presto/2.9...,Fisher-Marshall,180073453723693,06/18,535,VISA 16 digit,williamthomas@gmail.com,"Nurse, learning disability",146.225.23.148,pt,99.90
4839,"PSC 2750, Box 0268\nAPO AP 40163-4232",02 be,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_8...,"Powell, Martin and Henry",3337679961779856,02/19,502,JCB 16 digit,karenrichardson@yahoo.com,"Surveyor, mining",77.88.25.173,de,99.91
2316,"408 Russell Club\nSouth Thomas, MT 73554-8846",82 iO,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows 95;...,Bond-Oconnor,210065564716644,08/22,628,Voyager,vegaallen@gmail.com,Careers adviser,111.5.222.164,it,99.92
6263,"PSC 1273, Box 3037\nAPO AA 11854-3422",93 HJ,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Fisher-Guerrero,4363719050674,04/24,592,Mastercard,david10@dodson-warner.com,Tree surgeon,158.196.81.143,fr,99.92
3844,"27148 Kathy Cliff Apt. 400\nEast Jillton, TX 5...",37 ou,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,King and Sons,3088952915231147,04/17,493,Mastercard,lpowell@yahoo.com,Television camera operator,110.244.150.130,el,99.93
7604,"672 James Oval\nNew Davidview, KS 91202",07 dT,PM,Mozilla/5.0 (Windows 98; Win 9x 4.90; it-IT; r...,Fitzpatrick Group,503870406017,05/24,312,JCB 15 digit,mjenkins@gmail.com,"Teacher, primary school",192.227.38.104,el,99.95
9856,"058 Miranda Locks Suite 792\nPort Davidstad, P...",73 IW,PM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...,Olson-Navarro,6011037226242937,03/18,757,American Express,brendastewart@dalton.info,Site engineer,96.79.250.154,de,99.97
7807,"PSC 6177, Box 1004\nAPO AA 57143-1269",64 Nf,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4)...,"Porter, Johnson and Pratt",30109394842259,11/25,918,VISA 16 digit,kelli72@gmail.com,"Surveyor, insurance",89.51.92.242,de,99.99
2092,"63773 Shelton Greens\nAshleyton, MA 00493",56 lu,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,Pitts Group,4292741269160,06/18,824,Maestro,heatherwoodard@lloyd.com,"Surveyor, hydrographic",172.197.216.229,el,99.99

In [182]:
df[df['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [183]:
df[df['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [184]:
df[df['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [188]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [190]:
df['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

In [191]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [193]:
df[df["Credit Card"]==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [194]:
df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [195]:
sum(df['CC Exp Date'].apply(lambda x:x[3:])=='25')

1033

In [198]:
df['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [2]:
import pandas as pd
df1=pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']},index=[0,1,2,3])

In [3]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [7]:
df2=pd.DataFrame({'A':['A4','A5','A6','A7'],
                  'B':['B4','B5','B6','B7'],
                  'C':['C4','C5','C6','C7'],'D':['D4','D5','D6','D7']},index=[4,5,6,7])

In [ ]:
df3=pd.DataFrame({'A':['A8','A9','A10','A11'],
                  'B':['B8','B9','B10','B11'],
                  'C':['C8','C9','C10','C11'],'D':['D8','D9','D10','D11']},index=[8,9,10,11])

In [9]:
left=pd.DataFrame({'key':['k0','k1','k2','k3'],
                  'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
right=pd.DataFrame({'key':['k0','k1','k2','k3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [10]:
left

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [11]:
right

  key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [12]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [13]:
pd.concat([df1,df2,df3])

NameError: name 'df3' is not defined

In [23]:
left=pd.DataFrame({'key1':['k0','k0','k1','k2'],'key2':['k0','k1','k0','k1'],
                  'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
right=pd.DataFrame({'key1':['k0','k1','k1','k2'],'key2':['k0','k0','k0','k0'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [30]:
left

  key1 key2   A   B
0   k0   k0  A0  B0
1   k0   k1  A1  B1
2   k1   k0  A2  B2
3   k2   k1  A3  B3

In [31]:
right

  key1 key2   C   D
0   k0   k0  C0  D0
1   k1   k0  C1  D1
2   k1   k0  C2  D2
3   k2   k0  C3  D3

In [15]:
left

  key1 key2   A   B
0   k0   k0  A0  B0
1   k1   k1  A1  B1
2   k2   k0  A2  B2
3   k3   k1  A3  B3

In [16]:
right

  key1 key2   C   D
0   k0   k0  C0  D0
1   k1   k0  C1  D1
2   k1   k0  C2  D2
3   k2   k0  C3  D3

In [24]:
pd.merge(left,right, on=['key1','key2'])#...inner join....

  key1 key2   A   B   C   D
0   k0   k0  A0  B0  C0  D0
1   k1   k0  A2  B2  C1  D1
2   k1   k0  A2  B2  C2  D2

In [26]:
pd.merge(left,right, how='outer' ,on=['key1','key2'])#....Outer join

  key1 key2    A    B    C    D
0   k0   k0   A0   B0   C0   D0
1   k0   k1   A1   B1  NaN  NaN
2   k1   k0   A2   B2   C1   D1
3   k1   k0   A2   B2   C2   D2
4   k2   k1   A3   B3  NaN  NaN
5   k2   k0  NaN  NaN   C3   D3

In [27]:
pd.merge(left,right, how='right' ,on=['key1','key2'])

  key1 key2    A    B   C   D
0   k0   k0   A0   B0  C0  D0
1   k1   k0   A2   B2  C1  D1
2   k1   k0   A2   B2  C2  D2
3   k2   k0  NaN  NaN  C3  D3

In [29]:
pd.merge(left,right, how='left' ,on=['key1','key2'])

  key1 key2   A   B    C    D
0   k0   k0  A0  B0   C0   D0
1   k0   k1  A1  B1  NaN  NaN
2   k1   k0  A2  B2   C1   D1
3   k1   k0  A2  B2   C2   D2
4   k2   k1  A3  B3  NaN  NaN

In [33]:
left=pd.DataFrame({
                  'A':['A0','A1','A2',],'B':['B0','B1','B2']},index=['K0','K1','K2'])
right=pd.DataFrame({'C':['C0','C2','C3'],'D':['D0','D2','D3']},index=['K0','K2','K3'])

In [34]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [35]:
left.join(right,how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3